body {
  font-family: 'Source Code Pro';
  max-width: 960px;
  margin: 0 auto;
  font-kerning: normal;
  background-color: #F5F5F5;
}

h1 {
  font-family: "helvetica";
  padding-left: 40px;
  font-size: 4em;
  letter-spacing: -0.04em;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Source Code Pro';
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 5px;
}

h3 {
  padding-left: 40px;
}

h4 {
  font-family: 'Source Code Pro';
  font-size: 1.6em;
  margin-top: 20px;
  margin-bottom: 5px;
}

#userForm {
  margin-left: 40px;
}

.pure-button-primary {
  background-color: transparent;
  color: black;
  padding: 0;
}

.pure-button-primary:hover {
  background: none;
}

.pure-form input[type=text] {
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  width: 100%;
}

#usershow {
  padding-left: 40px;
}

.left {
  display: inline-block;
}