<div class="container">
  <div class="pure-g">
    <% quotes.forEach(function(quote) { %>
    <div class="pure-u-1-2 quote">
      <div class="content">
        <img src="<%= quote.image %>" alt="I dunno">
        <div class="text">
          <h2><%= quote.author %></h2>
          <p><%= quote.content %></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
