<div class="container">
  <h1>Add Quote</h1>
  <form method="post" action="/quotes">
    <input type="text" name="quote[name]" placeholder="enter author">
    <input type="text" name="quote[content]" placeholder="enter quote">
    <button class="btn">Create quote</button>
  </form>
</div>