<div class="container">
  <h4>"<%= quote.content %>"</h4>
  <p><%= quote.name %></p>
  <form method="get" action="/quotes/<%= quote.id %>/edit">
    <input type="hidden" name="_method" value="edit">
    <button class="btn">edit</button>
  </form>
  <form method="post" action="/quotes/<%= quote.id %>">
    <input type="hidden" name="_method" value="delete">
    <button class="btn">delete</button>
  </form>
  <form method="get" action="/quotes">
    <input type="hidden" name="_method" value="back">
    <button class="btn">back</button>
  </form>
</div>